---
import Layout from "../layouts/Layout.astro";

import Icon from "../components/Icon.astro";
import Project from "../components/Project.astro";
import Badget from "../components/Badget.astro";

const projects = [
  {
    title: "HealthTech",
    subtitle: "Consultoria medica online",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus veritatis doloribus suscipit reprehenderit illo eius optio possimus et aspernatur a quibusdam accusamus inventore voluptates rerum harum soluta, distinctio neque dignissimos!",
    images: [
      "/projects/healthtech/login.png",
      "/projects/healthtech/config.png",
      "/projects/healthtech/doctors.png",
      "/projects/healthtech/meetings.png",
      "/projects/healthtech/videocall.png",
    ],
  },
  {
    title: "Hotelmar",
    subtitle: "Reservas de habitaciones para un hotel",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus veritatis doloribus suscipit reprehenderit illo eius optio possimus et aspernatur a quibusdam accusamus inventore voluptates rerum harum soluta, distinctio neque dignissimos!",
    images: [
      "/projects/hotelmar/home.png",
      "/projects/hotelmar/booking.png",
      "/projects/hotelmar/extras.png",
      "/projects/hotelmar/detail.png",
      "/projects/hotelmar/my-bookings.png",
    ],
  },
  {
    title: "GenXDB",
    subtitle: "Generador de codigo para ORMs",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus veritatis doloribus suscipit reprehenderit illo eius optio possimus et aspernatur a quibusdam accusamus inventore voluptates rerum harum soluta, distinctio neque dignissimos!",
    images: ["/projects/genxdb/logo.png"],
  },
];
---

<Layout title="Fido - Porfolio">
  <main id="home" class="relative">
    <div class="flex justify-center items-center flex-col gap-4 pt-12">
      <h1 class="text-6xl font-semibold flex items-center gap-4">
        <div>
          Hey! Soy <span class="text-yellow-400">Fido</span>
        </div>
        <img
          src="/images/batman.png"
          alt="batman"
          class="object-cover w-16 h-30"
        />
      </h1>
      <p id="sub" class="text-center text-xl">
        <span class="text-yellow-300">Ingeniero en sistemas</span> especializado
        en el desarrollo web fullstack. +4 años de experiencia realizando proyectos
        de software de calidad con diferentes tecnologias.
      </p>
      <section id="badget" class="flex items-center gap-4 mt-4">
        <Badget
          name="Linkedin"
          svg="/icons/linkedin.svg"
          url="https://www.linkedin.com/in/rbosio7"
        />
        <Badget
          name="Github"
          svg="/icons/github.svg"
          url="https://www.github.com/RBosio"
        />
        <Badget
          name="npm"
          svg="/icons/npm.svg"
          url="https://www.npmjs.com/~fiido"
        />
      </section>
    </div>
    <div class="w-2/3 mx-auto overflow-hidden">
      <section
        id="icons"
        class="flex items-center justify-center mx-auto mt-24 gap-4 -translate-x-[160%]"
      >
        <Icon name="Nginx" svg="/icons/nginx.svg" />
        <Icon name="Docker" svg="/icons/docker.svg" />
        <Icon name="Linux" svg="/icons/linux.svg" />
        <Icon name="GraphQL" svg="/icons/graphql.svg" />
        <Icon name="PostgreSQL" svg="/icons/postgresql.svg" />
        <Icon name="MySQL" svg="/icons/mysql.svg" />
        <Icon name="NestJS" svg="/icons/nestjs.svg" />
        <Icon name="Express" svg="/icons/express.svg" />
        <Icon name="NodeJS" svg="/icons/nodejs.svg" />
        <Icon name="NextJS" svg="/icons/nextjs.svg" />
        <Icon name="React" svg="/icons/react.svg" />
        <Icon name="Angular" svg="/icons/angular.svg" />
        <Icon name="Typescript" svg="/icons/typescript.svg" />
        <Icon name="JavaScript" svg="/icons/js.svg" />
        <Icon name="Tailwind" svg="/icons/tailwind.svg" />
        <Icon name="CSS" svg="/icons/css.svg" />
        <Icon name="HTML" svg="/icons/html.svg" />
      </section>
      <section id="projects" class="p4 w-[72%] mx-auto">
        <h2 class="text-3xl mb-4 pt-24">Proyectos</h2>
        {
          projects.map((project) => (
            <Project
              title={project.title}
              subtitle={project.subtitle}
              description={project.description}
              images={project.images}
            />
          ))
        }
      </section>
    </div>
    <img
      src="/images/logo.svg"
      alt="bat"
      class={`bats size-60 absolute -top-20 -left-20 rotate-12 -z-10`}
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  #icons {
    animation: icons 20s linear infinite both;
  }

  #icons:hover {
    animation-play-state: paused;
  }

  @keyframes code {
    to {
      opacity: 1;
      transform: translateY(100px);
    }
  }

  @keyframes title {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes icons {
    to {
      transform: translateX(140%);
    }
  }

  h1 {
    animation: title 1s ease-out both;
  }

  #sub {
    animation: title 1s ease-out 1s both;
  }

  #badget {
    animation: title 1s ease-out 2s both;
  }
</style>
