<div class="text-md">
  <div class="flex items-center gap-4">
    <div>
      <p>
        Soy Rocco, más conocido como <span class="text-yellow-400">Fido</span>.
        Actualmente me encuentro realizando la tesis de mi carrera de <span
          class="text-yellow-400">ingeniería en sistemas</span
        >.
      </p>
      <br />
      <p>
        Me fascina construir aplicaciones web <span class="text-yellow-400"
          >usables</span
        > y de <span class="text-yellow-400">calidad</span> para los usuarios utilizando
        diferentes tecnologías y aportar al desarrollo
        <span class="text-yellow-400">open source</span>.
      </p>
    </div>
    <img src="/images/batman.png" alt="batman" class="size-64 object-cover" />
  </div>
  <br />
  <p>
    Cuento con experiencia desarrollando aplicaciones web, y tengo como proyecto
    personal una librería de npm llamada <span class="text-yellow-400"
      >GenXDB</span
    > que permite generar código de ORMs para facilitar la creación de modelos de
    bases de datos.
  </p>
</div>
