<div
  class="text-md text-center md:text-left [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold"
>
  <img
    src="/images/batman.png"
    alt="batman"
    class="size-64 object-cover p-2 mx-auto mb-4 md:hidden"
  />
  <div class="flex flex-col md:flex-row items-center gap-4">
    <div class="[&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold">
      <p>
        Soy Rocco, más conocido como <strong>Fido</strong>. Tengo 22 años y
        actualmente me encuentro realizando la tesis de mi carrera de <strong
          >ingeniería en sistemas</strong
        >.
      </p>
      <br />
      <p>
        Me fascina construir aplicaciones web <strong>usables</strong> y de <strong
          >calidad</strong
        > para los usuarios utilizando diferentes tecnologías además de aportar al
        desarrollo
        <strong>open source</strong>.
      </p>
    </div>
    <img
      src="/images/batman.png"
      alt="batman"
      class="size-64 object-cover hidden md:block"
    />
  </div>
  <br />
  <p>
    Cuento con experiencia desarrollando aplicaciones web, y tengo como <strong
      >proyecto personal</strong
    > una librería de npm llamada <strong>GenXDB</strong> que permite generar código
    de ORMs para facilitar la creación de modelos de bases de datos.
  </p>
</div>
