---
const { name, svg } = Astro.props;
---

<div
  class="p-2 border border-slate-200 rounded-md flex justify-center items-center gap-1"
>
  <img src={svg} alt={name} class="size-4" />
  <p class="text-xs text-white">{name}</p>
</div>
