---
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/roboto-flex";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <div
      class="progress bg-yellow-400 h-2 fixed top-0 md:top-[44px] left-0 z-50"
    >
    </div>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Roboto Flex Variable", sans-serif;
    background-image: linear-gradient(to bottom, #363636 0%, black 100%);
    scroll-behavior: smooth;
  }

  @media (prefers-reduce-motion: reduce) {
    html: {
      scroll-behavior: auto;
    }
  }

  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .progress {
    animation: progress auto linear;
    animation-timeline: scroll(root block);
  }
</style>
